.footer{
    padding: 30px 0 100px;

    @include media-breakpoint-up(lg){
        padding: 40px 0;
    }

    &-texto{
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        margin-bottom: 30px;
        text-align: center;
    }

    &-logoid360{
        text-align: center;
    }
}