.verso {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        color: #707070;
    }
}