<section class="contato">
    <div class="container">

        <%
        form_nome = 'formEmail';
        form_prefixo = 'FE';
        form_tipo = 'Email';
        form_canal = 'mensagem';
        form_btn = 'Solicitar Informações';
        %>

        <% include form %>

    </div>
</section>