<section class="empreendimento">
    <!-- <div class="container"> -->

        <div class="empreendimento-infos">
            <div class="info">
                <h1 class="tit">A comodidade</h1>
                <p>Plantas amplas, <br class="desk">
                    equlibradas <br class="desk">
                    e personalizáveis.
                </p>
            </div>
            <div class="info">
                <h1 class="tit">A paisagem</h1>
                <p>Cenários naturais <br class="desk">
                    e urbanos <br class="desk">
                    contemplados <br class="desk">
                    de mil ángulos.
                </p>
            </div>
            <div class="info">
                <h1 class="tit">A harmonia</h1>
                <p>Arquitetura <br class="desk">
                    contemporánea, <br class="desk">
                    calçadas de 5m <br class="desk">
                    e lojas repaginadas.
                </p>
            </div>
            <div class="info">
                <h1 class="tit">A autoria</h1>
                <p> DNA R.YAZBEK <br class="desk">
                    traduzido por <br class="desk">
                    nomes consagrados.
                </p>
            </div>
        </div>


        <div class="fachada">
            <img src="images/fachada.jpg" alt="Fachada">
        </div>

        <div class="granito">
            <img src="images/granito.jpg" alt="granito">
        </div>
    <!-- </div> -->

</section>