<section class="empreendimento">

    <div class="empreendimento-infos">
        <div class="info">
            <h1 class="tit">A comodidade</h1>
            <p>Plantas amplas, <br class="desk">
                equlibradas <br class="desk"> <br class="mob">
                e personalizáveis.
                <br class="desk">
            </p>
        </div>
        <div class="info">
            <h1 class="tit">A paisagem</h1>
            <p>Cenários naturais <br class="desk">
                e urbanos <br class="desk">
                contemplados <br class="desk"> <br class="mob">
                de mil ángulos.
            </p>
        </div>
        <div class="info">
            <h1 class="tit">A harmonia</h1>
            <p>Arquitetura <br class="desk">
                contemporánea, <br class="desk">
                calçadas de 5m <br class="desk"> <br class="mob">
                e lojas repaginadas.
            </p>
        </div>
        <div class="info">
            <h1 class="tit">A autoria</h1>
            <p> DNA R.YAZBEK <br class="desk">
                traduzido por <br class="desk">
                nomes consagrados.
                <br class="desk">
            </p>
        </div>
    </div>
    <div class="empreendimento-img">
        <div class="fachada">
            <img src="images/fachada.jpg" alt="Fachada">
        </div>

        <picture class="granito">
            <source media="(max-width: 480px)" srcset="images/granito-mob.jpg">
            <img src="images/granito.jpg" alt="Fachada">
        </picture>
    </div>

</section>