<section class="empreendimento">
    <div class="container">

        <div class="comodidade">
            <h1 class="tit">Realização</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, voluptate, odit ex quisquam expedita neque unde 
                placeat ratione laborum possimus asperiores cumque assumenda 
                minima eius consequatur voluptatum perspiciatis vel impedit.
            </p>
        </div>
        <div class="paisagem">
            <h1 class="tit">Realização</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, voluptate, odit ex quisquam expedita neque unde 
                placeat ratione laborum possimus asperiores cumque assumenda 
                minima eius consequatur voluptatum perspiciatis vel impedit.
            </p>
        </div>
        <div class="harmonia">
            <h1 class="tit">Realização</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, voluptate, odit ex quisquam expedita neque unde 
                placeat ratione laborum possimus asperiores cumque assumenda 
                minima eius consequatur voluptatum perspiciatis vel impedit.
            </p>
        </div>
        <div class="autoria">
            <h1 class="tit">Realização</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Labore, voluptate, odit ex quisquam expedita neque unde 
                placeat ratione laborum possimus asperiores cumque assumenda 
                minima eius consequatur voluptatum perspiciatis vel impedit.
            </p>
        </div>

        <div class="fachada">
            <img src="images/fachada.jpg" alt="Fachada">
        </div>

        <div class="granito">
            <img src="images/granito.jpg" alt="granito">
        </div>
    </div>

</section>