<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <p>Estou ciente e de acordo em disponibilizar meus dados pessoais para obtenção de informações sobre o empreendimento Artesano e de que os dados coletados poderão ser compartilhados com as empresas parceiras listadas neste site, doravante denominadas somente como “Parceiras”, para fins promocionais, publicitários e estatísticos relacionados à comercialização de imóveis.</p><br>
            <p>Autorizo que a RYPE SPE 19 - EMPREENDIMENTO IMOBILIÁRIO LTDA e/ou suas Parceiras, como definido anteriormente, utilizem os meus dados pessoais para a finalidade exclusiva de utilização dos dados para a oferta deste e de outros empreendimentos e venda de imóveis.</p><br>
            <p>Estou ciente de que este consentimento serve para atendimento aos requisitos da Lei nº 13.709/18 (Lei Geral de Proteção de Dados) e, a qualquer momento, poderei revogá-lo, devendo comunicar a decisão pelo e-mail dtmmkt@ryazbek.com.br.</p>
        </div>

        <div class="footer-logoid360">
            <a href="http://www.id360.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape" target="_blank">
                <img src="images/logo-id360.svg" width="70px" height="23px" alt="ID360 New Media">
            </a>
        </div>
    </div>
</footer>