<footer class="footer">
    <div class="container">
        <div class="footer-texto">
            <p>RYPE 19 - EMPREENDIMENTO IMOBILIARIO LTDA. Material preliminar para treinamento. Perspectiva ilustrada preliminar sujeita <br class="desk"> a alteração. A comercialização somente ocorrerá após o registro do memorial de Incorporação Imobiliária.</p>
        </div>

        <div class="footer-logoid360">
            <a href="http://www.id360.com.br/?utm_source=site_clientes&utm_campaign=<%=utm%>&utm_medium=logo_rodape" target="_blank">
                <img src="images/logo-id360.svg" width="70px" height="23px" alt="ID360 New Media">
            </a>
        </div>
    </div>
</footer>