<section class="intro">

    <div class="header">
        <a href="#localizacao">Breve Lançamento</a>
    </div>

    <div class="container">
        <img class="logo" src="images/logo-artesano.svg" alt="logo">
        <h1 class="intro-tit">O Paraíso nobre lapidado.</h1>

        <div class="detalhes">

            <h4>3 suítes</h4>

            <div class="divisor"></div>

            <h4>Alto padrão</h4>

            <div class="divisor-horizontal"></div>

            <h4 class="lazer">Lazer completo</h4>

        </div>

        <p class="endereço">
            R. Cel. Oscar Porto, 507 <br class="mob"> esquina com a R. Sampaio Viana            
        </p>

        <picture>
            <source media="(max-width: 480px)" srcset="images/regiao-mob.jpg">
            <img src="images/regiao.jpg" alt="Fachada">
            <span>Fotos da região</span>
        </picture>

        <button>receba as informações em primeira mão</button>

    </div>
    <img class="detalhe-cinza" src="images/detalhe-cinza.jpg" alt="Detalhe Cinza">

</section>