<section class="verso">
    <div class="container">
        <div class="verso-texto">
            <p>
                O Paraíso nobre aperfeiçoado. <br class="desk"> <br class="mob">
                Precioso em cada detalhe. <br class="desk"> <br class="mob">
                Desenhado para encantar. <br class="desk"> <br class="mob">
                Buscar a perfeição é uma arte. <br class="desk"> <br class="mob">
                Moldado com perfeição.
            </p>
        </div>
    </div>
</section>